@font-face {
  font-family: cool-font;
  src: url(./assets/Norse-Bold.otf);
}

body {
  background-color: #181413;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

img {
  height: 99vh;
  width: auto;
}

.logo {
  height: 8vh;
  margin: 1vh;
}

.brand {
  font-size: 5rem;
}

.main {
  display: flex;
  height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: antiquewhite;
  position: absolute;
  height: 10vh;
  width: 36.3vw;
  top: 20%;
  left: 0;
  opacity: 0.5;
  font-family: cool-font, sans-serif;
}

.message {
  font-size: large;
  margin-left: 10vh;
  width: 80%;
  color: wheat;
  padding-top: 6.5vh;
  padding-bottom: 6.5vh;
}

.middle {
  background-color: #1c1815;
  color: #d8c6a8;
  filter: drop-shadow(5px 5px 4px black);
  height: 35vh;
  margin-bottom: 1vh;
}

.create {
  margin-left: 10vh;
  padding: 2vh;
  width: 20vh;
  border-radius: 10px;
  background-color: teal;
  font-size: large;
  position: absolute;
  top: 120%;
  left: 0;
}

.create:hover {
  background-color: darkturquoise;
}

.create:active {
  background-color: aqua;
}

.inside {
  height: 100%;
}

.form {
  height: 25vh;
  width: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.woo {
  margin-left: 10vh;
}

.first_row,
.second_row,
.third_row {
  display: flex;
}

.first,
.last,
.email,
.phone,
.pass1,
.pass2 {
  display: flex;
  flex-direction: column;
  margin-left: 15vh;
}

form,
input {
  width: 30vh;
  height: 2.5vh;
  border-radius: 5px;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: red;
}
